.coinDisplay {
  margin: auto 0 0 15px;

  & span {
    display: inline-block;
    margin-right: 5px;
    line-height: 25px;
    vertical-align: middle;
    padding-top: 2px;
  }
}

.coins {
  font-weight: bold;
  color: var(--gold-bright);
}

.coinImage {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}