.fastTravel {
  margin-top: 5px;
  height: 48px;
}

.travelIcon {
  width: 40px;
  height: 40px;
  margin: 4px 5px 0 0 !important;
  background-size: 280px 240px;
  padding: 0;
  border: 2px solid var(--border-stone);
  border-radius: 3px;
  background-color: transparent;
  background-image: url('/spell-sheet.png');
  background-repeat: no-repeat;
}

.travelIcon:hover,
.travelIcon:active,
.travelIcon:focus-visible {
  background-color: transparent;
  background-image: url('/spell-sheet.png');
  background-repeat: no-repeat;
  background-size: 280px 240px;
}

.disabledTravelIcon {
  filter: grayscale(1);
  pointer-events: none;
}

.fastTravelDialog {
  height: 600px;
  max-height: 100%;
  min-height: 360px;

  width: 600px;
  max-width: 100%;
  min-width: 360px;
}
@media screen and (max-width: 400px) {
  .fastTravelDialog {
    height: 400px;
    max-height: 100%;
    min-height: 300px;
  }
}
  

.travelMapContainer {
  overflow: auto;
  position: relative;
}

.travelMap {
  width: calc(20 * 16.6mm);
  height: calc(12 * 16.6mm);
}

.gridContainer {
  grid-template-columns: repeat(20, 16.6mm);
  grid-template-rows: repeat(12, 16.6mm);
  width: calc(20 * 16.6mm);
  height: calc(12 * 16.6mm);
}
