
.inventoryItem {
  width: 64px;
  height: 64px;
  padding: 0;
  background: none;
  border: 2px solid var(--border-stone);
  border-radius: 3px;

  &:hover, &:active, &:focus-within, &:focus-visible {
    background: none;
  }
}

.itemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 8px 0;

  h3 {
    margin: 0 20px 0 0;
  }
}

.itemIcon {
  width: 60px;
  height: 6ch;
  background-image: url('/item-sheet.png');
  background-repeat: no-repeat;
  background-size: 600px 540px;
}

.equippedItem {
  border: 2px solid var(--color-success);
}

.cannotBuy {
  filter: grayscale(1);
  border: 2px solid var(--bg-card);
}

.itemPopover {
  width: auto;
  min-width: 150px;
}

.itemPopover ul {
  margin: 0;
  padding-left: 18px;
}

.itemPopover p {
  margin: 0;
}

.statEntry {
  display: flex;
}

.statName {
  flex: 1 1 auto;
  text-transform: capitalize;
}

.statValue {
  width: 40px;
  text-align: center;
  flex: 0 0 auto;
  font-weight: bold;
  color: var(--color-success);
}

.itemButtons {
  display: flex;
  margin: 12px auto 0 0;
  justify-content: center;

  .equipButton {
    margin: 0 5px;
  }
}