.inventoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 65px);
  grid-auto-rows: 65px;
  gap: 6px;
  padding: 6px;
}

.inventoryItem {
  width: 64px;
  height: 64px;
  padding: 0;
  background: none;
  border: 2px solid var(--border-stone);
  border-radius: 3px;

  &:hover, &:active, &:focus-within, &:focus-visible {
    background: none;
  }
}

.itemIcon {
  width: 60px;
  height: 6ch;
  background-image: url('/item-sheet.png');
  background-repeat: no-repeat;
  background-size: 600px 480px;
}

.equippedItem {
  border: 2px solid var(--color-success);
}

.itemPopover {
  width: auto;
  min-width: 150px;
}

.itemPopover h3 {
  margin: 0 20px 8px 0;
}

.itemPopover ul {
  margin: 0;
  padding-left: 18px;
}

.itemPopover p {
  margin: 0;
}

.statEntry {
  display: flex;
}

.statName {
  flex: 1 1 auto;
  text-transform: capitalize;
}

.statValue {
  width: 40px;
  text-align: center;
  flex: 0 0 auto;
  font-weight: bold;
  color: var(--color-success);
}

.equipButton {
  display: block;
  margin: 12px auto 0;
}