.statsCard {
  margin-bottom: 10px;
}

.monsterIcon {
  display: inline-block;
  width: 100px;
  height: 160px;
  background-image: url('/character-sheet.png');
  background-repeat: no-repeat;
  background-size: 1000px 800px;

  position: relative;
  left: 50%;
  margin-left: -64px;
}