.endTurnCheck {
  margin-left: 10px;
  border-radius: 15px;
  background-color: var(--color-success);
  color: var(--bg-main);
}

.notReadyCross {
  margin-left: 10px;
  border-radius: 15px;
  background-color: var(--bg-main);
  color: var(--red-dark);
}