.playerLocationScreen {
  flex: 1 1 auto;
  overflow-y: auto;
}

.playerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1;

  h2, h3, h4 {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
  }
}

.moveActionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-top: 2px solid var(--border-stone);

  button, .btn {
    margin: 10px 5px 0 5px;
    padding: 0 5px;
  }
}

.actionsList {
  margin-top: 20px;
  max-width: 400px;

  h3 {
    margin-top: 0;
  }

  li {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

    span {
      margin: auto 0;
    }

    &:hover {
      background-color: var(--bg-card-hover);
    }
  }
}

.actionDeleteIcon {
  height: 32px;
  padding: 0 5px;
  margin: 0 0 0 20px;
}

.notReadyCross {
  margin-left: 10px;
  border-radius: 15px;
  background-color: var(--bg-main);
  color: var(--red-dark);
}

.entity {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  margin: 0 5px;
}

.friendly {
  border: 2px solid var(--color-friendly);
}

.enemy {
  border: 2px solid var(--color-friendly);
}
