.playerLocationScreen {
  flex: 1 1 auto;
  overflow-y: auto;
}

.playerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1;

  h2, h3, h4 {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
  }
}

.actionButtonContainer {
  border-top: 2px solid var(--border-stone);
  height: 162px;
}

.moveActionButtons {
  display: grid;
  width: 160px;
  height: 160px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    "nw n ne"
    "w stay e"
    "sw s se";

  button, .btn {
    margin: 2px;
    padding: 0;
  }
}

.move-nw { grid-area: nw; }
.move-n { grid-area: n; }
.move-ne { grid-area: ne; }
.move-w { grid-area: w; }
.stay { grid-area: stay; }
.move-e { grid-area: e; }
.move-sw { grid-area: sw; }
.move-s { grid-area: s; }
.move-se { grid-area: se; }

.actionsList {
  margin-top: 20px;
  max-width: 400px;

  li {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

    span {
      margin: auto 0;
    }

    &:hover {
      background-color: var(--bg-card-hover);
    }
  }
}

.actionsHeader {
  display: flex;
  flex-direction: row;

  h4 {
    margin: 0;
    flex: 1 1 auto;
  }

  span {
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 14px;
  }
}

.actionDeleteIcon {
  height: 32px;
  padding: 0 5px;
  margin: 0 0 0 20px;
}

.notReadyCross {
  margin-left: 10px;
  border-radius: 15px;
  background-color: var(--bg-main);
  color: var(--red-dark);
}
