@keyframes ring {
  0% {
    width: 60px;
    height: 30px;
    opacity: 1;
  }
  80% {
    width: 200px;
    height: 100px;
    opacity: 0;
  }
  100% {
    width: 200px;
    height: 100px;
    opacity: 0;
  }
}

.playerLocationScreen {
  flex: 1 1 auto;
  overflow-y: auto;
}

.playerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1;

  h2, h3, h4 {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
  }
}

.actionButtonContainer {
  border-top: 2px solid var(--border-stone);
  height: 162px;
  display: flex;
}

.actionButtonGroup1 {
  padding: 0 10px;
  min-width: 180px;
  max-width: 180px;
}

.actionButtonGroup2 {
  padding: 0 10px;
  border-left: 2px solid var(--border-stone);
}

.moveActionButtons {
  display: grid;
  width: 160px;
  height: 160px;
  margin-top: 6px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    "nw n ne"
    "w stay e"
    "sw s se";

  button, .btn {
    margin: 2px;
    padding: 0;
  }
}

.move-nw { grid-area: nw; }
.move-n { grid-area: n; }
.move-ne { grid-area: ne; }
.move-w { grid-area: w; }
.stay { grid-area: stay; }
.move-e { grid-area: e; }
.move-sw { grid-area: sw; }
.move-s { grid-area: s; }
.move-se { grid-area: se; }

.actionsList {
  margin-top: 20px;
  max-width: 400px;

  li {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;

    span {
      margin: auto 0;
    }

    &:hover {
      background-color: var(--bg-card-hover);
    }
  }
}

.actionsHeader {
  display: flex;
  flex-direction: row;

  h4 {
    margin: 0;
    flex: 1 1 auto;
  }

  span {
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 14px;
  }
}

.actionDeleteIcon {
  height: 32px;
  padding: 0 5px;
  margin: 0 0 0 20px;
}

.notReadyCross {
  margin-left: 10px;
  border-radius: 15px;
  background-color: var(--bg-main);
  color: var(--red-dark);
}

.readyWithActions {
  position: relative;
}

.readyWithActions::after, &.error::after {
  content: '';
  width: 60px; height: 30px;
  border-radius: 100%;
  border: 4px solid var(--color-connected);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3s infinite;
  z-index: 1000;
  pointer-events: none;
}

.readyWithActions:hover::after, 
.readyWithActions:focus::after {
  animation: none;
  display: none;
}