.characterList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    width: 260px;
    margin: 0 5px;
    max-width: 400px;
  }

}

.playerCardNew {
  border-color: var(--color-success);
}

.playerCardButtons {
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  padding: 0 .75rem;
}

.playerHero {
  width: 100%;
  max-width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.characterDesc {
  height: 60px;
}