.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto 0;
  justify-content: center;
}

.headerContainerGame {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto 0;
  justify-content: flex-end;
}

.headerContent {
  flex: 0 0 auto;
  margin: auto 0;
}

.playerList {
  display: flex;
  flex-direction: row;
}

button.playerButton {
  padding: 0 0.75rem;
  margin-right: 10px;
}

.playerIcon {
  width: auto;
  height: 32px;
  margin: 0 10px;
}
