.host {
  margin: 0;
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.title {
  position: absolute;
  background: #f2ebd9;
  color: #2b221a;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 12px;
}

.mapImage {
  position: absolute;
  z-index: -1;
}

.gridContainer {
  display: grid;
  background: transparent;
  padding: 16.6mm;
  user-select: none;
}

.singlePage {
  /* @page {
    size: A4 portrait;
    margin: 0;
  } */

  width: 210mm;
  height: 297mm;

  .gridContainer {
    grid-template-columns: repeat(10, 16.6mm);
    grid-template-rows: repeat(12, 16.6mm);
    width: calc(12 * 16.6mm);
    height: calc(14 * 16.6mm);
  }
}

.pageOne {
  
  .title {
    display: none;
  }

  .mapImage {
    width: 1500px;
    height: 948px;
    top: 39px;
    left: -39px;
  }
}

.pageTwo {

  .title {
    top: 31px;
    left: 536px;
  }

  .mapImage {
    width: 1500px;
    height: 948px;
    top: 39px;
    left: -666px;
  }
}

.doublePage {
  /* @page {
    size: A3 landscape;
    margin: 0;
  }
 */
  width: 420mm;
  height: 297mm;

  .title {
    top: 31px;
    left: 1276px;
  }

  .mapImage {
    top: 40px;
    left: 44px;
    width: 1500px;
    height: 948px;
  }

  .gridContainer {
    grid-template-columns: repeat(20, 16.6mm);
    grid-template-rows: repeat(12, 16.6mm);
    width: calc(22 * 16.6mm);
    height: calc(14 * 16.6mm);
  }
}

.cell {
  width: 16.6mm;
  height: 16.6mm;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
}

.moveLine {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 6px;
  border-radius: 999px;
  background: var(--color-stamina);
  transform-origin: 0 50%;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.moveLineDiagonal {
  width: 70%;
}

.circle {
  width: 6mm;
  height: 6mm;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.namedCircle {
  background-color: var(--color-stamina);
}

.number {
  font-family: 'Cinzel', serif;
  font-size: 7pt;
  font-weight: 600;
  color: #000000;
  text-align: center;
  line-height: 1;
}

.copyButton {
  position: absolute;
  left: 44px;
  top: 263mm;
}
