.createGameHero {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;

  li {
    margin: 0 5px;
    min-width: 300px;
    max-width: 400px;
  }
}

.gameDescription {
  margin: 10px 0;
}