.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;

  & button, & .btn {
    padding: 0 0.75rem;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;;

    &:not(:hover):not(:hover) {
      background: none;
      background-color: transparent;
    }
  }

  h3 {
    margin: 0;
  }
}

.content {
  flex: 1 1 auto;
  overflow: auto;
}
